<div class="text-center flex flex-col h-dvh w-dvw justify-center items-center">
  <main>
    <h3 class="text-green-800 !mb-0">Register</h3>
    <p class="text-gray-400">Create your new account</p>
  </main>
  <main id="sign-up__forms mt" class="mt-5">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>person</mat-icon>
        <!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>mail</mat-icon>
        <!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Placeholder" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
    <button mat-flat-button class="w-[250px]">Sign-Up</button>
    <div class="flex items-center justify-center mt-10">
      <div class="bg-gray-500 w-[50px] h-[2px]"></div>
      <span class="px-2">Or continue with</span>
      <div class="bg-gray-500 w-[50px] h-[2px]"></div>
    </div>
    <div id class="sign-up__bottom mt-10">
      <div class="flex min-w-[250px] justify-evenly mb-20">
        <div id="icon-fb" class="border social-icons">f</div>
        <div id="icon-google" class="social-icons">g</div>
        <div id="icon-insta" class="social-icons">i</div>
      </div>
      <p class="text-gray-500">Already have an account? <a href="" class="text-green-800">login-in</a></p>
    </div>
  </main>
</div>
